Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-it
.deps
.libs
*.stamp
*.c
*.h
*.o
*.lo
stamp-h1
*.gmo
*.desktop
po/.intltool-merge-cache
cereal-1.0.pc
cereal/Cereal-1.0.gir
cereal/cereal-1.0.vapi
cereal/libcereal.la
tests/posixtest
